*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
}
h1{
    background-color: #081231;
    color: #fff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choice{
    height: 100px;
    width: 100px;
    border-radius: 40%;
    /* background-color: red; */
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 100px;
    width: 100px;
    /* background-color: pink; */
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;

}

.msg-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-container:hover{
    cursor:pointer
}
#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.













